venv/
venv/*

config.json
logfile.log
render/dashboard.html
render/dashboard.png
inkplate/calender.png
gcal/credentials.json
gcal/token.pickle
config.json
/inkplate/image_example/
inkplate/inkplate.ino
